    <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (360)-555-1234
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> mccooper@realestate.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://twitter.com/MrMLCooper">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/mauricecooper/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/MoeCooper?tab=repositories">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
